@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1903px;
  width: 88.75%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/






/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* left div  width: 51.27%; */
.brand-name {
  /* width: 46.18%; */
  margin-left: 1.24%;
  margin-bottom: 31px;
  font-size: 52px;
  color: white;
  text-transform: uppercase;
}
.brand-name + p {
  /* width: 46.18%; */
  margin-left: 1.24%;
  margin-bottom: 46px;
  font-size: 35px;
  line-height: 51px;
  color: white;
}
.brand-name + p > a {
  color:white;
  position: relative;
}
.brand-name + p > a::after {
  content:"";
  display: block;
  height: 0;
  width: 236px;
  top: 46px;
  border-top: 3px solid #75e8ff ;
  position: absolute;

}

.download-section{
  background-color: #39defe ;
}
.download-btn {
  padding-top: 20px;
  padding-bottom:20px;
  padding-left: 1.95%;
  padding-right: 1.95%;
  border-radius: 37px;
  margin-left: 1.24%;
  margin-bottom: 442px;
  color: white;
  font-size: 26px;
  background-color: #3887ed;
}


.download-left {
/* width: 51.27%; */
width: 47.42%;
display: inline-block;
padding-top: 434px;

}

.download-right {
  width: 48.54%;
  margin-left: 3%;
  /* 48.84%; */
  display: inline-block;
  position: relative;
  transform: translateY(-479px);
}


.dl-shop-img,
.dl-my-groups-img {
  /* width: 33.39%; */
 width: 68.24%;
  display: inline-block;
  position: absolute;
}

.dl-shop-img {
  position: absolute;
  /* z-index: 1; */
  
  /* float: left; */
}
.dl-my-groups-img {
  position: absolute;
 top: 118px;
 left:31.63%;
  /* z-index: 5; */
}
.shop-img {
  width: 33.27%;
  margin-top: 428px;
}
.simple-title {
  font-size: 41px;
  position: relative;
}
.simple-title::after {
  content:"";
  display: block;
  height: 0;
  width:40px;
  top: 73px;
  border-top: 2px solid #3887ed ;
  position: absolute;
}
.simple-intro {
  margin-top: 58px;
  font-size: 23px;
  /* margin-top:79px; */
  color:#a5a6b2;
  line-height: 41px;
}

.simple-img {
  display: inline-block;
  width: 33.27%;
  margin-top: 428px;
}


.keep-it-simple {
  width: 48.54%;
  /* margin-left: 3%; */
  margin-left: 17.15%;
  display: inline-block;
  position: relative;
  /* transform: translateY(134px); */
  transform: translateY(164px);

}
.keep-it-simple-section>div {
  border-bottom: 2px solid gray;
}
.pixel-perfect {
  width: 48.54%;
  /* margin-top: 569px; */
  /* transform: translateY(-32px); */
  /* transform: translateY(136px); */
  transform: translateY(165px);
  display: inline-block;
}
.pixel-title {
  font-size: 41px;
  position: relative;
}
.pixel-title::after {
  content:"";
  display: block;
  height: 0;
  width:40px;
  top: 73px;
  border-top: 2px solid #3887ed ;
  position: absolute;
}
.pixel-intro {
  /* margin-top:79px; */
  margin-top: 58px;
  color:#a5a6b2;
  line-height: 41px;
  font-size: 23px;
}

.pixel-img {
  width: 33.27%;
  /* margin-top: 428px; */
 margin-top: 262px;
 margin-left: 17.2%;
  /* transform: translateY(-167px); */
  display: inline-block;
}
.pixel-perfect-section>div {
  border-bottom: 2px solid gray;
}


.overview-img {
  width: 33.27%;
  margin-top: 262px;
  display: inline-block;


}

.beautiful {
  width: 48.54%;
  /* margin-left: 3%; */
  margin-left: 17.15%;
  display: inline-block;
  /* transform: translateY(136px); */
  transform: translateY(165px);

  /* position: relative; */
  /* transform: translateY(134px); */
}

.beautiful-title {
  font-size: 41px;
  position: relative;
}
.beautiful-title::after {
  content:"";
  display: block;
  height: 0;
  width:40px;
  top: 73px;
  border-top: 2px solid #3887ed ;
  position: absolute;
}
.beautiful-intro {
  font-size: 23px;
  /* margin-top:79px; */
  margin-top: 58px;
  color:#a5a6b2;
  line-height: 41px;

}

.review-title {
  padding-top: 168px;
  font-size: 41px;
  text-align: center;
 
}
.review-img {
  width: 7.87%;
  margin: 0 auto;
  margin-top: 116px;
}
.review-img > img {
  border-radius: 50%;
}

 
  .review-name {
  text-align: center;
  margin-top: 36px;
  margin-bottom: 18px;
    font-size: 18px;
    text-transform: uppercase;

  }
  
  .review-para {
    width: 67.96%;
    margin: 0 auto;
    text-align: center;
    font-size: 27px;
    color:#a5a6b2;
      /* margin-top: 58px; */
    line-height: 45px;
    margin-top: 53px;
  }
  .review-section  {
    background-color: #f2f2f2;
  }

  .ratings {
    /* margin-left: 50%;
    transform: translateX(-45px); */
    width: 95px;
    margin: 0 auto;
    color: #fbc23c;
  }
/* .reviewitem {
  display: none;
} */
.review-list li.reviewitem:nth-of-type(2) {
  display: none;
}
.review-list li.reviewitem:nth-of-type(3) {
  display: none;
}

.dot {
  /* height: 10px; */
  /* width:  10px; */
  height: 10px;
  width: 10px;
  background-color:#a6a7b3;
  border-radius: 50%;
  display: inline-block;
  }
  
  .blue-dot {
    height: 8px;
    width: 8px;
    border: 2px solid dodgerblue;
    display: inline-block;
    background-color:#a6a7b3;
    border-radius: 50%;

}
.current-review {
  margin:0 auto;
  width:43px;
  margin-top:63px;
  padding-bottom: 183px;
}
  
.features-title {
  font-size: 41px;
      text-align: center;
      padding-top: 170px;
  }
  .features-title + p {
   
    font-size: 24px;
    text-align: center;
    width: 63.94%;
    margin: 0 auto;
    margin-top: 49px;
    margin-bottom: 122px;
    color: #a6a7b3;
  }

  .feature-title {
    margin-top: 54px;
font-size: 24px;
text-transform: uppercase;
text-align: center;
  }
  .feature-intro {
    font-size: 24px;
    color: #a6a7b3;
    text-align: center;
    line-height: 41px;
    margin-top: 12px;
  }

  .features-list {
    display: flex;
  }

span > .fa-tablet,
span > .fa-star,
span > .fa-cog,
span > .fa-heart {
    font-size: 56px;
    color: #3887ed;
    display: inline-block;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  .tablet-ico,
  .heart-ico,
  .star-ico,
  .cog-ico {
    width: 43px; 
    height: 38px;
    padding: 46px;
    border-radius: 10px;
    display: inline-block;
    /* 2.54% */
    background-color: #eeeeef;
    position: relative;

    left: 50%;
    transform: translateX(-50%);
  }
  .features-listitem {
    flex-basis: 25%;
  }
  .features-section > div{
    padding-bottom: 109px;
  }

.subscribe-title{
  font-size: 41px;
    text-align: center;
  text-transform: capitalize;
}

.subscribe-intro{
  padding-top: 32px;
  font-size: 24px;
    color: #2487a0;
    text-align: center;
    line-height: 41px;
    margin-top: 36px;
    width: 69.5%;
    text-align: center;
    margin: 0 auto;
    line-height: 51px;
    padding-bottom: 127px;

}
.ip-name ,
.ip-email 
 {
   /* width: 30%;
   display: inline-block;
  padding-right: 28%;
  padding-left: 1.95%; */
flex-basis: 30%;

}
.ip-name > input ,
.ip-email > input {
  background: #88ecff;
  border: none;
  border-radius: 5px;
  padding-left: 34px;
  color: #092876;
  
}
    

.ip-name > input ,
.ip-email > input ,
.ip-submit > input {
  padding-top:26px;
  padding-bottom:26px;
width: 100%;
/* display: inline-block; */
  font-size: 24px;
}
.ip-submit > input {
  padding-left: 210px;
    padding-right: 210px;
    background: #3887ed;
    border-radius: 60px;
    border: none;
    color: white;
}
.subscribe-section {
  background-color: #39defe;
}
.subscribe-section > div {
  padding-top: 188px;
  padding-bottom: 200px;
  background-color: #39defe;
}
.name-error ,
.email-error
{
display: none;
}
form {
  display: flex;
  justify-content: space-between;
  }
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer>div {
  padding-top: 201px;
    padding-bottom: 201px;

}

footer >div p:nth-of-type(1) {
  text-align :center;
  color: #a6a7b3;
  font-size: 20px;
  }
  footer > div > p:nth-of-type(2){
    text-align :center;
    color: #a6a7b3;  
    font-size: 19px;
    margin-top: 23px;
  }
  footer > div > p >a {
   color: #3887ed;
  }
  
  .social-icons {
  margin :0 auto;
  width:20%;
  margin-top: 58px;
  display: flex;
  justify-content: space-between;
  }

  
  .social-iconsitem > a > i{
  font-size: 50px;
  }

  /* .social-iconsitem {
    padding-right: 4.6%;
  }
  .social-iconsitem :last-of-type{
    padding-right: 0;
  } */


 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  